.sidenav {
    height: 100%;
    width: 17%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    background: rgb(148,187,233);
    background: linear-gradient(0deg, rgba(148,187,233,1) 10%, rgb(221,160,221) 100%);
}
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

        /* When you mouse over the navigation links, change their color */
        .sidenav a:hover {
            color: #f1f1f1;
        }

    /* Position and style the close button (top right corner) */
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
    .sidenav > p {
    font-size: 15px;
    color: white;
    text-align: center;
    font-family: monospace;
    }
    

.checkbox {
    padding-left: 20px;
    align-items: center;
}

.slider {
    width:180px;
    left:0;
}
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}
@media only screen and (max-width: 1000px) {
    .sidenav {
        width:30%;
    }
    .slider {
        width: 100px;
        left: 0;
    }
}

.myGrid {
    background-color: black;
    opacity: 0.3;
}