@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');


.starContainer {
    position: relative;
    margin: auto; 
    width: 400px;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container .star-widget input {
    display: none;
}

.star-widget label {
    font-size: 40px;
    color: #F3DEF3;
    padding: 10px;
    float: right;
    transition: all 0.2s ease;
}

input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label {
    color: #E5A1DB;
}

input:checked ~ label {
    color: #E5A1DB;
}


#rate-1:checked ~ form header:before {
    content: "I hate it";
}

#rate-2:checked ~ form header:before {
    content: "I don't like it";
}

#rate-3:checked ~ form header:before {
    content: "It is neither good or bad";
}

#rate-4:checked ~ form header:before {
    content: "I like it";
}

#rate-5:checked ~ form header:before {
    content: "I love it";
}



form header {
    width: 100%;
    font-size: 25px;
    color: #E5A1DB;
    font-weight: 500;
    margin: 5px 0 20px 0;
    text-align: center;
    transition: all 0.2s ease;
}

form .textarea {
    height: 100px;
    width: 100%;
    overflow: hidden;
}

form .textarea textarea {
     height: 100%;
     width: 100%;
     outline: none;
     color: black;
     border: 1px solid #E5A1DB;
     background: white;
     padding: 10px;
     font-size: 17px;
     resize: none;
    }

.textarea textarea:focus {
    border-color: #E5A1DB;
}

form .btn {
    height: 45px;
    width: 100%;
    margin-top: 15px;
}

form .btn button {
   height: 100%;
   width: 100%;
   border: 1px solid #E5A1DB;
   background-color: white;
   color: #E5A1DB;
   font-size: 17px;
   font-weight: 500;
   text-transform: uppercase;
   cursor: pointer;
   transition: all 0.3s ease;
}




